@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  background-color: #f4433652;
  color: grey;
  font-family: 'Poppins', sans-serif;
  /* background: repeating-linear-gradient(pink 20%, white 20%, pink 25%); */
  background-color: #f7b6b6;
}
.container {
  max-width: 960px;
  margin:0 auto;
  text-align: center;
}

.container input {
  height:1.5rem;
  width:15em;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}
button {
  font-size: 12px;
  width: auto;
  /* height:1em; */
  padding: 4px;
  border-radius: 4px;
  color: grey;
  font-weight: bold;
}
#images {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
